DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ai_resume_analyzer?schema=public"
OPENAI_API_KEY=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_BUCKET_NAME=""
JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""
PORT=3001
